header {
  padding-top: 2.25rem;
  padding-left: 3.63rem;
  padding-right: 3.63rem;
  @include breakpoint(laptop) {
    @include flexBox(center, center);
    padding-top: 4rem;
  }
  @include breakpoint(phablet) {
    padding-top: 2.25rem;
    a {
      img {
        @include box(6.6rem, 1.85rem);
      }
    }
  }
}
