.home-page {
  width: 100vw;
  height: calc(100vh - 81px - 75px);
  @include flexBox(space-between, center);
  overflow: hidden;
  @include breakpoint(laptop) {
    height: calc(100dvh - 109px - 75px);
  }
  @include breakpoint(phablet) {
    height: calc(100dvh - 70px - 75px);
  }

  .left {
    width: 33rem;
    height: 100%;
    padding-top: 2.25rem;
    padding-left: 3.63rem;
    @include breakpoint(laptop) {
      width: 100vw;
      padding-left: 22%;
      padding-right: 22%;
    }
    @include breakpoint(phablet) {
      padding-left: 13%;
      padding-right: 13%;
    }

    &-content {
      @include flexBox(space-evenly, flex-start);
      flex-direction: column;
      height: 100%;
      span {
        @include fontSize(1.25rem, 600, 1.25rem, #414141);
        letter-spacing: 0.05rem;
        @include breakpoint(laptop) {
          text-align: center;
          display: block;
        }
        @include breakpoint(phablet) {
          @include fontSize(0.89rem, 600, 0.89rem, #414141);
        }
      }
      h2 {
        @include fontSize(2.75rem, 600, 3.2rem, inherit);
        background: linear-gradient(96deg, #ffcdff -35.89%, #a967ff 52.69%, #0400c5 157.1%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.11rem;
        margin-top: 1.34rem;
        margin-bottom: 1.7rem;
        @include breakpoint(laptop) {
          text-align: center;
        }
        @include breakpoint(phablet) {
          margin-top: 0.94rem;
          margin-bottom: 1.12rem;
          @include fontSize(1.5rem, 600, 1.5rem, #414141);
          letter-spacing: 0.06rem;
        }
      }
      p {
        @include fontSize(1.25rem, 400, 1.4375rem, #262626);
        letter-spacing: 0.025rem;
        @include breakpoint(laptop) {
          margin-top: 1rem;
          text-align: center;
          @include fontSize(2rem, 400, 2.3rem, #262626);
        }
        @include breakpoint(phablet) {
          @include fontSize(0.89rem, 400, 1.03rem, #262626);
          letter-spacing: 0.01775rem;
        }
      }
      .icon-text {
        @include flexBox(center, center);
        margin-bottom: 5.06rem;
        img {
          width: 2.5rem;
          margin-right: 1.19rem;
        }
        p {
          @include fontSize(0.875rem, 400, 1.15rem, #6b6b6b);
          letter-spacing: 0.0175rem;
          margin: 0;
        }
      }
      form {
        width: 100%;
        .form-group {
          position: relative;
        }
        label {
          @include fontSize(0.8rem, 400, 0.92rem, #6e6e77);
          @include breakpoint(laptop) {
            @include fontSize(1.1rem, 400, 1.26rem, #6e6e77);
          }
          @include breakpoint(phablet) {
            @include fontSize(0.78rem, 400, 0.9rem, #6e6e77);
            letter-spacing: 0.01556rem;
          }
        }
        input {
          margin: 0.49rem 0;
          @include box(100%, 3.125rem);
          padding: 0.96494rem 9.64188rem 1.16006rem 1.23313rem;
          border-radius: 0.5625rem;
          background: #f4f5f9;
          @include breakpoint(laptop) {
            @include fontSize(1.27rem, 400, 1.5rem, #6e6e77);
            margin: 0.7rem 0;
            padding: 1.5rem 1.8rem;
            height: 4.5rem;
          }
          @include breakpoint(laptop) {
            margin: 0.5rem 0;
            padding: 1rem 1.3rem;
            @include fontSize(0.9rem, 200, 1.05rem, #6e6e77);
            height: 3rem;
          }
        }
        .input-loading {
          width: 40px;
          height: 40px;
          position: absolute;
          right: 10px;
          top: 55%;
          transform: translateY(-50%);
          @include breakpoint(phablet) {
            @include box(20px, 20px);
          }
          div {
            width: 32px;
            height: 32px;
            border: 4px solid #a967ff;
            border-color: #a967ff transparent transparent transparent;
            @include breakpoint(phablet) {
              @include box(16px, 16px);
              border: 2px solid #a967ff;
              border-color: #a967ff transparent transparent transparent;
            }
          }
        }
        .success-message {
          @include flexBox(center, center);
          flex-direction: column;
          span {
            margin-top: 1.12rem;
            @include fontSize(0.875rem, 400, 1rem, #989898);
            letter-spacing: 0.0175rem;
          }
        }
        .input-error {
          @include flexBox(flex-start, center);
          margin-bottom: 0.63rem;
          span {
            margin-left: 0.37rem;
            @include fontSize(0.75rem, 400, 0.8625rem, #ff4a4a);
          }
        }
        ::placeholder {
          @include fontSize(0.875rem, 200, 1.00625rem, #6e6e77);
          letter-spacing: 0.0175rem;
          @include breakpoint(laptop) {
            @include fontSize(1.27rem, 200, 1.47rem, #6e6e77);
            letter-spacing: 0.02556rem;
          }
          @include breakpoint(phablet) {
            @include fontSize(0.9rem, 200, 1.05rem, #6e6e77);
          }
        }
        button[type='submit'] {
          width: 100%;
          padding: 1.06rem;
          text-align: center;
          border-radius: 0.5625rem;
          background: linear-gradient(96deg, #ffcdff -65.1%, #a967ff 100.31%, #0400c5 295.29%);
          @include fontSize(0.875rem, 600, 1.00625rem, white);
          letter-spacing: 0.0175rem;
          @include breakpoint(laptop) {
            @include fontSize(1.27rem, 600, 1.48rem, white);
            letter-spacing: 0.02556rem;
            border-radius: 0.82256rem;
            padding: 1.55rem 3.33rem;
          }
          @include breakpoint(phablet) {
            @include fontSize(0.91rem, 600, 1.05rem, white);
            letter-spacing: 0.01819rem;
            padding: 1.1rem 2.36rem;
          }
        }
      }
    }
    .monster-div {
      display: none;
      @include breakpoint(laptop) {
        display: block;
        position: absolute;
        right: -1px;
        .monster-img {
          position: relative;
          top: -45px;
        }
      }
      @include breakpoint(phablet) {
        right: -20px;

        .cloud-img {
          @include box(4.8rem, 2.85rem);

          img {
            @include imgBox(100%, 100%, contain);
          }
        }
        .monster-img {
          @include box(6rem, 9rem);
          top: -20px;
          img {
            @include imgBox(100%, 100%, inherit);
          }
        }
      }
    }
  }
  .right {
    width: 60vw;
    height: 100%;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    @include breakpoint(laptop) {
      display: none;
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 92px;
      font-weight: 900;
      line-height: 92px;
      letter-spacing: 3.7px;
      background: linear-gradient(80deg, #ffcdff 0, #a967ff 147.03%, #7f00c5 790.01%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1111;
    }
    .circles {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      .circle {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
        position: relative;
        @include flexBox(center, center);
        transition: cubic-bezier(0.4, 0, 1, 1) 1.5s;
        &::before {
          content: '';
          position: absolute;
          top: -1px;
          left: -1px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: white;
          transform: translate(0, 0);
          transition: transform 1s;
        }
        .little-circle {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: linear-gradient(136deg, #ffcdff 3.48%, #a967ff 132.13%, #7f00c5 250.89%),
            linear-gradient(0deg, #ffd874 0%, #ffd874 100%), #8861e0;
          transition: 0.5s;
          z-index: -1;
        }
      }
      .active-circle {
        &::before {
          transform: translate(32px, 32px);
        }
        .little-circle {
          z-index: 1;
        }
      }
      .active-click-effect {
        z-index: 2;
        &::before {
          transform: translate(32px, 32px);
        }
        .little-circle {
          width: 40px;
          height: 40px;
          fill: linear-gradient(126deg, #ffcdff 47.81%, #a967ff 162.77%, #7f00c5 213.28%), #ffd874;
          filter: drop-shadow(0px 9px 200px rgba(152, 89, 255, 0.85));
        }
      }
      .transform-effect {
        transform: translateY(100vh);
      }
    }
  }
}
